<div class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row align-items-center">
  <c-container breakpoint="md">
    <c-row class="justify-content-center">
      <c-col lg="10" xl="4">
        <c-card-group>
          <c-card class="px-4">
            <c-card-body>
              <form cForm>
                <h1>Login</h1>
                <p class="text-body-secondary">Sign In to your account</p>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input autoComplete="username" cFormControl placeholder="Username" />
                </c-input-group>
                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input
                    autoComplete="current-password"
                    cFormControl
                    placeholder="Password"
                    type="password"
                  />
                </c-input-group>
                <c-container>
                  <c-row class="justify-content-between" style="margin: 0px;">
                  <c-col xs="4">
                    <button cButton [disabled]="isLoading" class="text-center" color="primary" type="submit" (click)="submit()" style="white-space: nowrap;">
                      Sign in @if (isLoading) {
                      <c-spinner aria-hidden="true" size="sm"></c-spinner>
                     } 
                    </button>
                  </c-col>
                  <c-col xs="4">
                    <button cButton class="text-center" color="link" style="white-space: nowrap;" (click)="onSignUp()">
                      Sign up?
                    </button>
                  </c-col>
                </c-row>
                </c-container>
              </form>
            </c-card-body>
          </c-card>

        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
